[package]
name = "coop"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[[bin]]
name = "coop"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
clap.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

[lints]
workspace = true
