@import "tailwindcss";

@source "../";

/* xterm.js overrides */
.xterm {
  height: 100%;
  width: 100%;
}
.xterm .xterm-viewport {
  background-color: inherit !important;
}
.xterm-cursor-layer {
  display: none !important;
}
