@import "tailwindcss";

@source "../";

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SourceCodePro-Regular.latin.woff2") format("woff2");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SourceCodePro-Bold.latin.woff2") format("woff2");
}

/* xterm.js overrides */
.xterm {
  height: 100%;
  width: 100%;
}
.xterm .xterm-viewport {
  background-color: inherit !important;
}
.xterm-cursor-layer {
  display: none !important;
}
