@import "tailwindcss";

@source "../";

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/FiraMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/FiraMono-Bold.ttf') format('truetype');
}

/* xterm.js overrides */
.xterm {
  height: 100%;
  width: 100%;
}
.xterm .xterm-viewport {
  background-color: inherit !important;
}
.xterm-cursor-layer {
  display: none !important;
}
